@* @page "/stadiums/create"
@page "/stadiums/update/{id:guid}"

@inject ICustomSnackbarProvider Snackbar
@inject BIStadiumService StadiumService
@inject NavigationManager NavigationManager
@inject IDialogService DialogService
@inject IFileService FileService
@attribute [Authorize(Policy = "IsAdmin")]

<LanguageTrackProvider OnInitializeEvent="provider => provider.RegisterComponent(this)" />
<PageTitle>
    @(IsUpdate() ? Resource.Stadium_Update : Resource.Stadium_Create)
</PageTitle>

<MudCard>
    <MudCardContent>
        <h1 class="fs-2 mb-5">@(IsUpdate() ? Resource.Stadium_Update : Resource.Stadium_Create)</h1>
        <EditForm Model="Stadium">
            <div class="mb-5">
                <MudTextField @bind-Value=Stadium.Name For="()=>Stadium.Name" Label=@Resource.Name Variant="Variant.Text" Required />
            </div>
            <div class="mb-5">
                <MudTextField @bind-Value=Stadium.Location For="()=>Stadium.Location" Label=@Resource.Location Variant="Variant.Text" />
            </div>
            <div class="mb-5">
                <MudTextField @bind-Value=Stadium.LocationUrl For="()=>Stadium.Location" Label=@Resource.LocationUrl Variant="Variant.Text" />
            </div>
            <div class="mb-5">
                <MudTextField @bind-Value=Stadium.Description For="()=>Stadium.Description" Label=@Resource.Description Variant="Variant.Text" />
            </div>
            <div class="mb-5 py-2">
                <ImageUpload Label=@Resource.Logo IsMultipleFiles="false" FilesChanged="OnFileChanged" Required="true" />
            </div>
            <div class="d-flex justify-content-end">
                <LoadingButton OnClick="HandleValidSubmit" Color="Color.Primary" Variant="Variant.Filled">@(IsUpdate() ? Resource.Stadium_Update : Resource.Stadium_Create)</LoadingButton>
            </div>
        </EditForm>
    </MudCardContent>
</MudCard>


@code {
    [Parameter]
    public Guid? Id { get; set; }

    private StadiumDto Stadium = new();
    KeyValuePair<string, string>? Logo = null;


    protected override async Task OnInitializedAsync()
    {
        await LoadStadiumAsync();
    }

    private async Task LoadStadiumAsync()
    {
        if (IsUpdate())
        {
            var result = await StadiumService.GetStadiumByIdAsync(Id!.Value, false);
            result.Match(
                response =>
                {
                    if (response.Data != null)
                        Stadium = response.Data;

                    return Unit.Default;
                }
                ,
                ex =>
                {
                    Snackbar.Show(Resource.Error_Occurred, Severity.Error);
                    return Unit.Default;
                }
            );
        }
    }

    private async Task HandleValidSubmit()
    {
        if (Stadium.Name == null)
            return;

        if (Logo != null)
            await UploadFileAsync();

        if (Stadium.Photo != null)
        {
            if (IsUpdate())
                await UpdateStadiumAsync();
            else
                await CreateStadiumAsync();
        }
        else
            Snackbar.Show(Resource.File_Required, Severity.Error);
    }

    private async Task UploadFileAsync()
    {
        var result = await FileService.UploadFileAsync(new()
            {
                Path = $"/Images/Stadiums/{Stadium.Name}/{Logo?.Key}".Replace(" ", "_"),
                Base64EncodedString = Logo?.Value
            });

        result.Match(
            response =>
            {
                if (response.IsSuccess)
                    Stadium.Photo = response.Data;
                else
                    Snackbar.Show(Resource.File_Upoad_Error, Severity.Error);

                return Unit.Default;
            },
            ex =>
            {
                Snackbar.Show(Resource.File_Upoad_Error, Severity.Error);
                return Unit.Default;
            }
        );
    }

    private async Task CreateStadiumAsync()
    {
        var result = await StadiumService.CreateStadiumAsync(Stadium);
        result.Match(
            response =>
            {
                if (response.IsSuccess)
                {
                    Snackbar.Show(Resource.Stadium_Created, Severity.Success);
                    NavigationManager.NavigateTo("/stadiums");
                }
                else
                {
                    Snackbar.Show(response.Title, Severity.Error);
                    if (response.ErrorList != null)
                    {
                        foreach (var error in response.ErrorList)
                            Snackbar.Show($"{error.Title}: {error.Message}", Severity.Error);
                    }
                }
                return Unit.Default;
            },
            ex =>
            {
                Snackbar.Show(Resource.Stadium_Updated, Severity.Error);
                return Unit.Default;
            }
        );
    }

    private async Task UpdateStadiumAsync()
    {
        var result = await StadiumService.UpdateStadiumAsync(Stadium);
        result.Match(
            response =>
            {
                if (response.IsSuccess)
                {
                    Snackbar.Show(Resource.Stadium_Updated, Severity.Success);
                    NavigationManager.NavigateTo("/stadiums");
                }
                else
                {
                    Snackbar.Show(response.Title, Severity.Error);
                    if (response.ErrorList != null)
                    {
                        foreach (var error in response.ErrorList)
                            Snackbar.Show($"{error.Title}: {error.Message}", Severity.Error);
                    }
                }
                return Unit.Default;
            },
            ex =>
            {
                Snackbar.Show(Resource.Error_Occurred, Severity.Error);
                return Unit.Default;
            }
        );
    }

    private void OnFileChanged(Dictionary<string, string> files)
        => Logo = files.FirstOrDefault();

    private bool IsUpdate()
        => Id != null;
}
 *@